---
layout: default
---

<div style="margin-bottom: 2rem;">
  <a href="{{ '/' | relative_url }}">← Return to Home</a>
</div>

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-date text-bold">
    {% if page.author %}
      <span class="text-upcase">{{ page.author }}</span> / 
    {% endif %}
    {% if page.date %}
      <span class="text-upcase">{{ page.date | date: "%B %Y" }}</span>
    {% endif %}
  </p>

  {% if page.tags.size > 0 %}
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>
</article> 